body
{
  color: rgba(21, 11, 37, 0.436);
  background: #c68cba;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(110, 33, 33);
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: rgba(214, 177, 246, 0.649);
}
.hand_gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;

}
